{{- $os := .chezmoi.os -}}
{{- $host := .chezmoi.hostname -}}
{{- $isMac := eq $os "darwin" -}}
{{- $isWin := eq $os "windows" -}}
{{- $isWSL := and (eq $os "linux") (contains (lower .chezmoi.kernel.osrelease) "microsoft") -}}
{{- $isWorkHost := eq $host "w013bl-wsl" -}}
{{- $inCodespaces := ne (env "CODESPACES") "" -}}
{{- $hasDockerenv := stat "/.dockerenv" -}}
{{- $inContainer := or $inCodespaces $hasDockerenv -}}

[user]
    name = Andrew Magerman
    {{- if ne (env "GIT_AUTHOR_EMAIL") "" }}
    email = {{ env "GIT_AUTHOR_EMAIL" }}
    {{- else if eq $host "imsaho" }}
    email = andrew.magerman@magerman.com
    {{- else if or $isWorkHost $isWSL $inContainer }}
    email = andrew.magerman@postfinance.ch
    {{- else }}
    email = andrew.magerman@postfinance.ch
    {{- end }}

[core]
    longpaths = true
    preloadindex = true
    fscache = true
    {{- if $isWin }}
    autocrlf = true
    {{- else }}
    autocrlf = input
    {{- end }}

[http]
    {{- if eq $host "imsaho" }}
    sslVerify = true
    proxy =
    {{- else if $isWorkHost }}
    sslVerify = false
    sslBackend = gnutls
    {{- else if $isWSL }}
    sslVerify = false
    sslBackend = gnutls
    {{- else }}
    sslVerify = true
    {{- end }}

[log]
    mailmap = true

[alias]
    ca = commit -a -m
    yeet = !git branch --merged | egrep -v "release" | xargs git branch --delete
    graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

[push]
    default = current

[credential "http://outproxy2.pnet.ch:3128"]
    provider = generic

[safe]
    directory = C:/Users/magermana/AppData/Local/Programs/Git/isynth_envs/pf_model
    directory = *

[credential]
    helper = manager

[gc]
    auto = 256

[difftool "sourcetree"]
    cmd = "'' "

[mergetool "sourcetree"]
    cmd = "'' "
    trustExitCode = true
