#!/bin/sh
set -e


echo "[chezmoi] Installing tmux plugins..."
exit 0

# Install plugins using TPM
if [ -d "$HOME/.config/tmux/plugins/tpm" ]; then
  echo "Running TPM install..."
  $HOME/.config/tmux/plugins/tpm/bin/install_plugins
  echo "Plugins installation complete."
else
  echo "TPM not found. Please install TPM first."
  exit 1
fi
